In [9]:
import sqlite3
from sqlite3 import Error

def connect(db_file):
    """ create a database connection to a SQLite database """
    conn = sqlite3.connect(db_file)
    return conn

In [126]:
DB_FILE = "/tmp/temporary_db.db"

In [127]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("Select 1, SQLITE_VERSION();")
    res = c.fetchone()
    print(res)

(1, '3.28.0')

In [128]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("DROP TABLE IF EXISTS Employee")
    c.execute("DROP TABLE IF EXISTS Task")
    res = c.fetchone()
    print(res)

None

In [129]:
create_table = '''
CREATE TABLE IF NOT EXISTS Employee (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name text NOT NULL,
  sallary money NOT NULL
)
'''

In [130]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute(create_table)

In [154]:
insert_sql = '''
INSERT INTO Employee (name, sallary) VALUES (?,?)
''';

In [155]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute(insert_sql, ("Jakub", 2500.00))
    c.execute(insert_sql, ("Micha≈Ç", 3500.00))
    print(c.lastrowid)

2

In [156]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("Select * from Employee")
    rows = c.fetchall() 
    for row in rows:
        print(row)

(1, 'Jakub', 2500)
(2, 'Jakub', 2500)

In [157]:
create_tasks_table = """
    CREATE TABLE IF NOT EXISTS Tasks (
        id integer PRIMARY KEY,
        employee_id integer,
        name text NOT NULL,
        priority integer,
        FOREIGN KEY (employee_id) REFERENCES Employee (id)
);
"""

conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute(create_tasks_table)

In [158]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("INSERT INTO Tasks (employee_id, name, priority) VALUES (?, ?, ?)", (10, "Learn DELETE FROM TABLE sql stmt", 100))

In [159]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("Select * from Tasks")
    rows = c.fetchall() 
    for row in rows:
        print(row)

(1, 10, 'Learn DELETE FROM TABLE sql stmt', 100)
(2, 10, 'Learn DELETE FROM TABLE sql stmt', 100)
(3, 10, 'Learn DELETE FROM TABLE sql stmt', 100)
(4, 10, 'Learn DELETE FROM TABLE sql stmt', 100)

Note that Foreign keys constraints are not enabled by default in SQLite, you have to enable them first by the running the following command:

In [160]:
enable_fk_check = '''PRAGMA foreign_keys = ON;'''
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute(enable_fk_check)

In [161]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("PRAGMA foreign_keys = ON;")
    c.execute("PRAGMA foreign_keys")
    rows = c.fetchone() 
    for row in rows:
        print(row)

1

In [162]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("PRAGMA foreign_keys = ON;")
    c.execute("INSERT INTO Tasks (employee_id, name, priority) VALUES (?, ?, ?)", (1, "Learn DELETE FROM TABLE sql stmt", 100))

OperationalError: no such table: main.Employees

In [150]:
conn = connect(DB_FILE)
with conn:
    c = conn.cursor()
    c.execute("Select * from Tasks")
    rows = c.fetchall() 
    for row in rows:
        print(row)

(1, 10, 'Learn DELETE FROM TABLE sql stmt', 100)
(2, 10, 'Learn DELETE FROM TABLE sql stmt', 100)
(3, 10, 'Learn DELETE FROM TABLE sql stmt', 100)