In [1]:
!pip3 install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [2]:
from pyspark import SparkContext

In [49]:
sc.stop()

In [50]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("Spark dataframe") \
    .getOrCreate()
sc = spark.sparkContext

In [51]:
spark

### DataFrames

DataFrames gives a schema view of data basically, it is an abstraction. In dataframes, view of data is organized as columns with column name and types info. In addition, we can say data in dataframe is as same as the table in relational database.

### DataSets

In Spark, datasets are an extension of dataframes. Basically, it earns two different APIs characteristics, such as strongly typed and untyped. Datasets are by default a collection of strongly typed JVM objects

**data frames** allow to deal with data in structured way. We will see how the data frame abstraction, very popular in other data analytics ecosystems (e.g. R and Python/Pandas), it is very powerful when performing exploratory data analysis. In fact, it is very easy to express data queries when used together with the SQL language

#### Creating a RDD from a file
The most common way of creating an RDD is to load it from a file. Notice that Spark's textFile can handle compressed files directly.

In [52]:
!wget -c https://s3.eu-central-1.amazonaws.com/jkan.pl/data-science/uek/otomoto.csv

--2020-12-12 01:03:30--  https://s3.eu-central-1.amazonaws.com/jkan.pl/data-science/uek/otomoto.csv
Resolving s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)... 52.219.72.175
Connecting to s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)|52.219.72.175|:443... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

In [53]:
raw_data = sc.textFile('otomoto.csv')
csv_data = raw_data.map(lambda l: l.split(";"))
header = csv_data.first() #extract header
data = csv_data.filter(lambda r: r != header)
data.cache()

PythonRDD[3] at RDD at PythonRDD.scala:53

In [54]:
data.take(2)

[['"6039269187"',
  '"https://www.otomoto.pl/oferta/renault-fluence-bezwypadkowy-instalacja-gazowa-ID6AI9Nx.html"',
  '""',
  '"Renault"',
  '"Fluence"',
  '"Osobowe"',
  '"1 600 cm3"',
  '"5"',
  '""',
  '""',
  '"Sedan"',
  '"2013"',
  '""',
  '""',
  '""',
  '""',
  '""',
  '"Tak"',
  '""',
  '"Benzyna+LPG"',
  '""',
  '"Czechy"',
  '""',
  '"Tak"',
  '"Używane"',
  '"8 listopad 2013"',
  '"Renault Fluence"',
  '"25900.0"',
  '"Manualna"',
  '""',
  '""',
  '"4"',
  '""',
  '"172 000 km"',
  '"Tak"',
  '""',
  '""',
  '"Osoby prywatnej"',
  '""',
  '"Biały"',
  '"Na przednie koła"',
  '"110 KM"'],
 ['"6034090022"',
  '"https://www.otomoto.pl/oferta/mercedes-benz-klasa-g-350d-pakiet-amg-designo-manufaktur-edition-ID6AmqsC.html"',
  '"Tak"',
  '"Mercedes-Benz"',
  '"Klasa G"',
  '"Osobowe"',
  '"2 987 cm3"',
  '"5"',
  '"Tak"',
  '"W463 (1992-)"',
  '"SUV"',
  '"2016"',
  '"Tak"',
  '""',
  '"WDB4633481X263455"',
  '""',
  '""',
  '"Tak"',
  '"Tak"',
  '"Diesel"',
  '"261 g/km"',
  '"Polska"',
  '"DSR40090"',
  '"Tak"',
  '"Używane"',
  '""',
  '"Mercedes-Benz Klasa G W463"',
  '"434900.0"',
  '"Automatyczna hydrauliczna (klasyczna)"',
  '""',
  '""',
  '"5"',
  '"Tak"',
  '"52 904 km"',
  '""',
  '"Tak"',
  '""',
  '"Firmy"',
  '"G 350"',
  '"Szary"',
  '"4x4 (stały)"',
  '"245 KM"']]

In [55]:
list(enumerate(header))

[(0, '"id"'),
 (1, '"url"'),
 (2, '"Faktura VAT"'),
 (3, '"Marka pojazdu"'),
 (4, '"Model pojazdu"'),
 (5, '"Kategoria"'),
 (6, '"Pojemność skokowa"'),
 (7, '"Liczba miejsc"'),
 (8, '"Zarejestrowany w Polsce"'),
 (9, '"Wersja"'),
 (10, '"Typ"'),
 (11, '"Rok produkcji"'),
 (12, '"Serwisowany w ASO"'),
 (13, '"Leasing"'),
 (14, '"VIN"'),
 (15, '"Homologacja ciężarowa"'),
 (16, '"VAT marża"'),
 (17, '"Pierwszy właściciel"'),
 (18, '"Filtr cząstek stałych"'),
 (19, '"Rodzaj paliwa"'),
 (20, '"Emisja CO2"'),
 (21, '"Kraj pochodzenia"'),
 (22, '"Numer rejestracyjny pojazdu"'),
 (23, '"Bezwypadkowy"'),
 (24, '"Stan"'),
 (25, '"Pierwsza rejestracja"'),
 (26, '"title"'),
 (27, '"price"'),
 (28, '"Skrzynia biegów"'),
 (29, '"Perłowy"'),
 (30, '"Kierownica po prawej (Anglik)"'),
 (31, '"Liczba drzwi"'),
 (32, '"Metalik"'),
 (33, '"Przebieg"'),
 (34, '"Akryl (niemetalizowany)"'),
 (35, '"Możliwość finansowania"'),
 (36, '"Uszkodzony"'),
 (37, '"Oferta od"'),
 (38, '"Kod Silnika"'),
 (39, '"Kolor"'),
 (40, '"Napęd"'),
 (41, '"Moc"')]

In [73]:
from pyspark.sql import Row
row_data = data\
    .map(lambda p: Row(
        _id=(p[0]),
        marka=(p[3]),
        model=(p[4]),
        price=(p[27]),
        przebieg=(p[33])
    )
)

Once we have our RDD of Row we can infer and register the schema.

In [74]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [75]:
DF = sqlContext.createDataFrame(row_data)

In [76]:
DF.take(1)

[Row(_id='"6039269187"', marka='"Renault"', model='"Fluence"', price='"25900.0"', przebieg='"172 000 km"')]

In [81]:
DF.select("marka", "model", "przebieg", "price")\
    .write\
    .format('csv') \
    .mode("overwrite") \
    .options(delimiter=";")\
    .save("adv_model_przebieg")

In [82]:
import pandas as pd

In [86]:
import glob
all_files = glob.glob('./adv_model_przebieg/*.csv')
df_from_each_file = (pd.read_csv(f, delimiter=";") for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [87]:
concatenated_df

,"\172 000 km\""""","\25900.0\""""","\33 400 km\""""","\99900.0\""""","\Fluence\""""","\Mercedes-Benz\""""","\Renault\""""","\Vito\"""""
0,"\52 904 km\""""","\434900.0\""""",NaN,NaN,"\Klasa G\""""",NaN,"\Mercedes-Benz\""""",NaN
1,"\56 000 km\""""","\41900.0\""""",NaN,NaN,"\A5\""""",NaN,"\Audi\""""",NaN
2,"\88 000 km\""""","\14900.0\""""",NaN,NaN,"\Polo\""""",NaN,"\Volkswagen\""""",NaN
3,"\176 000 km\""""","\5900.0\""""",NaN,NaN,"\206 CC\""""",NaN,"\Peugeot\""""",NaN
4,"\300 000 km\""""","\7900.0\""""",NaN,NaN,"\Bora\""""",NaN,"\Volkswagen\""""",NaN
5,"\301 000 km\""""","\9800.0\""""",NaN,NaN,"\Seria 5\""""",NaN,"\BMW\""""",NaN
6,"\155 400 km\""""","\98900.0\""""",NaN,NaN,"\Q5\""""",NaN,"\Audi\""""",NaN
7,"\124 500 km\""""","\14480.0\""""",NaN,NaN,"\Santa Fe\""""",NaN,"\Hyundai\""""",NaN
8,"\95 100 km\""""","\64900.0\""""",NaN,NaN,"\Golf\""""",NaN,"\Volkswagen\""""",NaN
9,"\268 000 km\""""","\37000.0\""""",NaN,NaN,"\Grand Cherokee\""""",NaN,"\Jeep\""""",NaN
10,"\42 000 km\""""","\66500.0\""""",NaN,NaN,"\Qashqai\""""",NaN,"\Nissan\""""",NaN
11,"\215 896 km\""""","\18500.0\""""",NaN,NaN,"\Avensis\""""",NaN,"\Toyota\""""",NaN
12,"\178 000 km\""""","\37900.0\""""",NaN,NaN,"\Passat\""""",NaN,"\Volkswagen\""""",NaN
13,"\240 000 km\""""","\35000.0\""""",NaN,NaN,"\A4\""""",NaN,"\Audi\""""",NaN
14,"\52 900 km\""""","\43900.0\""""",NaN,NaN,"\Astra\""""",NaN,"\Opel\""""",NaN
15,"\122 900 km\""""","\24900.0\""""",NaN,NaN,"\Qashqai\""""",NaN,"\Nissan\""""",NaN
16,"\72 686 km\""""","\14900.0\""""",NaN,NaN,"\Micra\""""",NaN,"\Nissan\""""",NaN
17,"\94 805 km\""""","\68000.0\""""",NaN,NaN,"\S-Max\""""",NaN,"\Ford\""""",NaN
18,"\153 000 km\""""","\13400.0\""""",NaN,NaN,"\Corsa\""""",NaN,"\Opel\""""",NaN
19,"\204 000 km\""""","\12900.0\""""",NaN,NaN,"\A6\""""",NaN,"\Audi\""""",NaN
20,"\178 000 km\""""","\16900.0\""""",NaN,NaN,"\A3\""""",NaN,"\Audi\""""",NaN
21,"\311 374 km\""""","\8500.0\""""",NaN,NaN,"\Passat\""""",NaN,"\Volkswagen\""""",NaN
22,"\83 000 km\""""","\28000.0\""""",NaN,NaN,"\DS3\""""",NaN,"\Citroën\""""",NaN
23,"\179 660 km\""""","\27800.0\""""",NaN,NaN,"\Vivaro\""""",NaN,"\Opel\""""",NaN
24,"\55 800 km\""""","\109000.0\""""",NaN,NaN,"\X3\""""",NaN,"\BMW\""""",NaN
25,"\163 000 km\""""","\5800.0\""""",NaN,NaN,"\156\""""",NaN,"\Alfa Romeo\""""",NaN
26,"\259 000 km\""""","\22000.0\""""",NaN,NaN,"\Legacy\""""",NaN,"\Subaru\""""",NaN
27,"\221 726 km\""""","\27000.0\""""",NaN,NaN,"\Caddy\""""",NaN,"\Volkswagen\""""",NaN
28,"\78 000 km\""""","\55900.0\""""",NaN,NaN,"\Golf\""""",NaN,"\Volkswagen\""""",NaN
29,"\183 300 km\""""","\19900.0\""""",NaN,NaN,"\Maverick\""""",NaN,"\Ford\""""",NaN
...,...,...,...,...,...,...,...,...
51154,NaN,NaN,"\\""""","\238152.0\""""",NaN,"\Audi\""""",NaN,"\Q5\"""""
51155,NaN,NaN,"\200 442 km\""""","\10500.0\""""",NaN,"\Renault\""""",NaN,"\Megane\"""""
51156,NaN,NaN,"\544 km\""""","\94900.0\""""",NaN,"\Suzuki\""""",NaN,"\Vitara\"""""
51157,NaN,NaN,"\246 000 km\""""","\3900.0\""""",NaN,"\Audi\""""",NaN,"\80\"""""
51158,NaN,NaN,"\29 999 km\""""","\44900.0\""""",NaN,"\Smart\""""",NaN,"\Fortwo\"""""
51159,NaN,NaN,"\4 000 km\""""","\51000.0\""""",NaN,"\Toyota\""""",NaN,"\Corolla\"""""
51160,NaN,NaN,"\148 000 km\""""","\36500.0\""""",NaN,"\Škoda\""""",NaN,"\Yeti\"""""
51161,NaN,NaN,"\139 000 km\""""","\7900.0\""""",NaN,"\Seat\""""",NaN,"\Altea\"""""
51162,NaN,NaN,"\320 000 km\""""","\29000.0\""""",NaN,"\Land Rover\""""",NaN,"\Discovery\"""""
51163,NaN,NaN,"\96 000 km\""""","\36800.0\""""",NaN,"\Mazda\""""",NaN,"\6\"""""
51164,NaN,NaN,"\5 km\""""","\755370.0\""""",NaN,"\Mercedes-Benz\""""",NaN,"\Inny\"""""
51165,NaN,NaN,"\8 436 km\""""","\272000.0\""""",NaN,"\Porsche\""""",NaN,"\Macan\"""""
51166,NaN,NaN,"\213 600 km\""""","\11000.0\""""",NaN,"\Toyota\""""",NaN,"\Corolla Verso\"""""
51167,NaN,NaN,"\69 000 km\""""","\7500.0\""""",NaN,"\Volkswagen\""""",NaN,"\Polo\"""""
51168,NaN,NaN,"\173 000 km\""""","\10900.0\""""",NaN,"\Seat\""""",NaN,"\Ibiza\"""""
51169,NaN,NaN,"\48 600 km\""""","\31700.0\""""",NaN,"\Toyota\""""",NaN,"\Yaris\"""""
51170,NaN,NaN,"\173 600 km\""""","\10500.0\""""",NaN,"\Fiat\""""",NaN,"\Panda\"""""
51171,NaN,NaN,"\194 000 km\""""","\17500.0\""""",NaN,"\Mercedes-Benz\""""",NaN,"\ML\"""""
51172,NaN,NaN,"\186 000 km\""""","\22800.0\""""",NaN,"\Ford\""""",NaN,"\Galaxy\"""""
51173,NaN,NaN,"\186 000 km\""""","\28500.0\""""",NaN,"\Audi\""""",NaN,"\A4\"""""
51174,NaN,NaN,"\250 000 km\""""","\22200.0\""""",NaN,"\BMW\""""",NaN,"\Seria 3\"""""
51175,NaN,NaN,"\19 580 km\""""","\133900.0\""""",NaN,"\Mercedes-Benz\""""",NaN,"\CLA\"""""
51176,NaN,NaN,"\207 300 km\""""","\83900.0\""""",NaN,"\Lancia\""""",NaN,"\Voyager\"""""
51177,NaN,NaN,"\105 000 km\""""","\19800.0\""""",NaN,"\Opel\""""",NaN,"\Corsa\"""""
51178,NaN,NaN,"\230 000 km\""""","\10900.0\""""",NaN,"\BMW\""""",NaN,"\Seria 3\"""""
51179,NaN,NaN,"\160 700 km\""""","\13555.0\""""",NaN,"\Mazda\""""",NaN,"\6\"""""
51180,NaN,NaN,"\128 486 km\""""","\136000.0\""""",NaN,"\Land Rover\""""",NaN,"\Range Rover Sport\"""""
51181,NaN,NaN,"\5 km\""""","\54900.0\""""",NaN,"\Hyundai\""""",NaN,"\ix20\"""""
51182,NaN,NaN,"\139 000 km\""""","\15900.0\""""",NaN,"\Ford\""""",NaN,"\Fiesta\"""""
51183,NaN,NaN,"\\""""","\0.0\""""",NaN,"\\""""",NaN,"\\"""""

https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

In [88]:
DF = spark.read.load("otomoto.csv", format="csv", sep=";", inferSchema="true", header="true")

In [89]:
DF.take(1)

[Row(id=6039269187, url='https://www.otomoto.pl/oferta/renault-fluence-bezwypadkowy-instalacja-gazowa-ID6AI9Nx.html', Faktura VAT=None, Marka pojazdu='Renault', Model pojazdu='Fluence', Kategoria='Osobowe', Pojemność skokowa='1 600 cm3', Liczba miejsc=5, Zarejestrowany w Polsce=None, Wersja=None, Typ='Sedan', Rok produkcji=2013, Serwisowany w ASO=None, Leasing=None, VIN=None, Homologacja ciężarowa=None, VAT marża=None, Pierwszy właściciel='Tak', Filtr cząstek stałych=None, Rodzaj paliwa='Benzyna+LPG', Emisja CO2=None, Kraj pochodzenia='Czechy', Numer rejestracyjny pojazdu=None, Bezwypadkowy='Tak', Stan='Używane', Pierwsza rejestracja='8 listopad 2013', title='Renault Fluence', price=25900.0, Skrzynia biegów='Manualna', Perłowy=None, Kierownica po prawej (Anglik)=None, Liczba drzwi=4, Metalik=None, Przebieg='172 000 km', Akryl (niemetalizowany)='Tak', Możliwość finansowania=None, Uszkodzony=None, Oferta od='Osoby prywatnej', Kod Silnika=None, Kolor='Biały', Napęd='Na przednie koła', Moc='110 KM')]

In [90]:
type(DF)

pyspark.sql.dataframe.DataFrame

In [91]:
DF.registerTempTable("cars")

In [92]:
volvos = sqlContext.sql("""
    Select `Marka pojazdu` as marka, `Model pojazdu` as model, `price`, `przebieg`, `Rok produkcji` as rok  from cars 
    WHERE `Marka pojazdu` = "Volvo"
    AND `Model pojazdu` = "XC 60"
""")

In [93]:
type(volvos)

pyspark.sql.dataframe.DataFrame

The results of SQL queries are RDDs and support all the normal RDD operations.

In [94]:
volvos.take(1)

[Row(marka='Volvo', model='XC 60', price=89900.0, przebieg='132 789 km', rok=2016)]

In [95]:
volvos.show()

+-----+-----+--------+----------+----+
|marka|model|   price|  przebieg| rok|
+-----+-----+--------+----------+----+
|Volvo|XC 60| 89900.0|132 789 km|2016|
|Volvo|XC 60|121951.0| 25 236 km|2016|
|Volvo|XC 60| 54900.0|221 000 km|2012|
|Volvo|XC 60| 79999.0|140 515 km|2012|
|Volvo|XC 60| 89900.0|159 900 km|2012|
|Volvo|XC 60| 98900.0| 22 739 km|2016|
|Volvo|XC 60| 79555.0| 62 321 km|2012|
|Volvo|XC 60| 52900.0| 60 000 km|2014|
|Volvo|XC 60| 66900.0| 15 000 km|2015|
|Volvo|XC 60| 59900.0|183 000 km|2010|
|Volvo|XC 60|112800.0| 32 000 km|2016|
|Volvo|XC 60|123000.0| 21 000 km|2016|
|Volvo|XC 60| 87000.0|144 000 km|2015|
|Volvo|XC 60| 88900.0| 66 200 km|2014|
|Volvo|XC 60|185900.0|  3 000 km|2017|
|Volvo|XC 60| 75900.0|132 000 km|2014|
|Volvo|XC 60| 43500.0|205 500 km|2010|
|Volvo|XC 60| 68000.0|110 094 km|2014|
|Volvo|XC 60|122900.0| 13 000 km|2017|
|Volvo|XC 60| 79900.0|145 000 km|2016|
+-----+-----+--------+----------+----+
only showing top 20 rows

In [96]:
for volvo in volvos.collect():
    print("{} for {} with millage {}".format(volvo.model, volvo.price, volvo.przebieg))

XC 60 for 89900.0 with millage 132 789 km
XC 60 for 121951.0 with millage 25 236 km
XC 60 for 54900.0 with millage 221 000 km
XC 60 for 79999.0 with millage 140 515 km
XC 60 for 89900.0 with millage 159 900 km
XC 60 for 98900.0 with millage 22 739 km
XC 60 for 79555.0 with millage 62 321 km
XC 60 for 52900.0 with millage 60 000 km
XC 60 for 66900.0 with millage 15 000 km
XC 60 for 59900.0 with millage 183 000 km
XC 60 for 112800.0 with millage 32 000 km
XC 60 for 123000.0 with millage 21 000 km
XC 60 for 87000.0 with millage 144 000 km
XC 60 for 88900.0 with millage 66 200 km
XC 60 for 185900.0 with millage 3 000 km
XC 60 for 75900.0 with millage 132 000 km
XC 60 for 43500.0 with millage 205 500 km
XC 60 for 68000.0 with millage 110 094 km
XC 60 for 122900.0 with millage 13 000 km
XC 60 for 79900.0 with millage 145 000 km
XC 60 for 94900.0 with millage 124 999 km
XC 60 for 54000.0 with millage 290 000 km
XC 60 for 71900.0 with millage 97 100 km
XC 60 for 87500.0 with millage 163 000 km
XC 60 for 109900.0 with millage 57 000 km
XC 60 for 89900.0 with millage 106 000 km
XC 60 for 154900.0 with millage 28 414 km
XC 60 for 57900.0 with millage 229 000 km
XC 60 for 58000.0 with millage 299 356 km
XC 60 for 92000.0 with millage 104 000 km
XC 60 for 79500.0 with millage 130 000 km
XC 60 for 59990.0 with millage 195 000 km
XC 60 for 66900.0 with millage 257 000 km
XC 60 for 128000.0 with millage 40 000 km
XC 60 for 49890.0 with millage 171 000 km
XC 60 for 147955.0 with millage 27 000 km
XC 60 for 47900.0 with millage 174 000 km
XC 60 for 78900.0 with millage 159 820 km
XC 60 for 77000.0 with millage 195 000 km
XC 60 for 82900.0 with millage 99 529 km
XC 60 for 93900.0 with millage 92 487 km
XC 60 for 92900.0 with millage 141 000 km
XC 60 for 37700.0 with millage 306 000 km
XC 60 for 81900.0 with millage 67 000 km
XC 60 for 137900.0 with millage 79 410 km
XC 60 for 149900.0 with millage 30 712 km
XC 60 for 156900.0 with millage 17 531 km
XC 60 for 84900.0 with millage 164 000 km
XC 60 for 89400.0 with millage 162 000 km
XC 60 for 81300.0 with millage 75 250 km
XC 60 for 57900.0 with millage 108 400 km
XC 60 for 60900.0 with millage 210 000 km
XC 60 for 159900.0 with millage 24 200 km
XC 60 for 64900.0 with millage 155 569 km
XC 60 for 83300.0 with millage 116 000 km
XC 60 for 156900.0 with millage 10 km
XC 60 for 108900.0 with millage 78 000 km
XC 60 for 56900.0 with millage 169 000 km
XC 60 for 89900.0 with millage 82 000 km
XC 60 for 64800.0 with millage 158 000 km
XC 60 for 97900.0 with millage 80 000 km
XC 60 for 88417.0 with millage 88 417 km
XC 60 for 183000.0 with millage 16 000 km
XC 60 for 82900.0 with millage 105 000 km
XC 60 for 158000.0 with millage 69 km
XC 60 for 74800.0 with millage 176 000 km
XC 60 for 45500.0 with millage 267 500 km
XC 60 for 59900.0 with millage 107 000 km
XC 60 for 266990.0 with millage 5 km
XC 60 for 149900.0 with millage 29 996 km
XC 60 for 212790.0 with millage 5 km
XC 60 for 218220.0 with millage 5 km
XC 60 for 249120.0 with millage 5 km
XC 60 for 134900.0 with millage 23 656 km
XC 60 for 69500.0 with millage 117 000 km
XC 60 for 149900.0 with millage 25 626 km
XC 60 for 68888.0 with millage 191 000 km
XC 60 for 105000.0 with millage 78 000 km
XC 60 for 70900.0 with millage 148 200 km
XC 60 for 66500.0 with millage 160 000 km
XC 60 for 49900.0 with millage 180 144 km
XC 60 for 52600.0 with millage 13 364 km
XC 60 for 30000.0 with millage 230 000 km
XC 60 for 121900.0 with millage 28 000 km
XC 60 for 89900.0 with millage 113 173 km
XC 60 for 78900.0 with millage 90 523 km
XC 60 for 47900.0 with millage 204 000 km
XC 60 for 191430.0 with millage 2 km
XC 60 for 199850.0 with millage 2 km
XC 60 for 218400.0 with millage 2 km
XC 60 for 55550.0 with millage 180 000 km
XC 60 for 169900.0 with millage 19 520 km
XC 60 for 59900.0 with millage 239 000 km
XC 60 for 164900.0 with millage 10 km
XC 60 for 152900.0 with millage 33 100 km
XC 60 for 47900.0 with millage 180 000 km
XC 60 for 125000.0 with millage 148 141 km
XC 60 for 174227.0 with millage 1 km
XC 60 for 81799.0 with millage 94 082 km
XC 60 for 53999.0 with millage 235 000 km
XC 60 for 190244.0 with millage 1 km
XC 60 for 75900.0 with millage 168 750 km
XC 60 for 89900.0 with millage 107 820 km
XC 60 for 106900.0 with millage 80 050 km
XC 60 for 57900.0 with millage 172 000 km
XC 60 for 199900.0 with millage 8 000 km
XC 60 for 67900.0 with millage 197 858 km
XC 60 for 178160.0 with millage 10 km
XC 60 for 153900.0 with millage 20 000 km
XC 60 for 54900.0 with millage 195 422 km
XC 60 for 169660.0 with millage 10 km
XC 60 for 199900.0 with millage 20 000 km
XC 60 for 129900.0 with millage 7 km
XC 60 for 164900.0 with millage 50 km
XC 60 for 199600.0 with millage 1 km
XC 60 for 199910.0 with millage 1 km
XC 60 for 178862.0 with millage 1 km
XC 60 for 35900.0 with millage 138 120 km
XC 60 for 131900.0 with millage 19 130 km
XC 60 for 72900.0 with millage 147 000 km
XC 60 for 163000.0 with millage 23 810 km
XC 60 for 57700.0 with millage 66 000 km
XC 60 for 190808.0 with millage 10 km
XC 60 for 99900.0 with millage 152 330 km
XC 60 for 71900.0 with millage 128 000 km
XC 60 for 51900.0 with millage 244 500 km
XC 60 for 174900.0 with millage 21 km
XC 60 for 119999.0 with millage 30 000 km
XC 60 for 179000.0 with millage 19 000 km
XC 60 for 169900.0 with millage 35 km
XC 60 for 74900.0 with millage 89 000 km
XC 60 for 157846.0 with millage 1 km
XC 60 for 80000.0 with millage 142 000 km
XC 60 for 61000.0 with millage 206 400 km
XC 60 for 99900.0 with millage 29 643 km
XC 60 for 59800.0 with millage 152 000 km
XC 60 for 77967.0 with millage 84 000 km
XC 60 for 139900.0 with millage 43 684 km
XC 60 for 179900.0 with millage 16 109 km
XC 60 for 99999.0 with millage 125 000 km
XC 60 for 95900.0 with millage 54 000 km
XC 60 for 49500.0 with millage 312 000 km
XC 60 for 130000.0 with millage 29 400 km
XC 60 for 131900.0 with millage 11 088 km
XC 60 for 118000.0 with millage 50 000 km
XC 60 for 81900.0 with millage 139 000 km
XC 60 for 169000.0 with millage 17 848 km
XC 60 for 211900.0 with millage 5 900 km
XC 60 for 84900.0 with millage 179 000 km
XC 60 for 235000.0 with millage 5 km
XC 60 for 104900.0 with millage 101 202 km
XC 60 for 151000.0 with millage 28 500 km
XC 60 for 321500.0 with millage 5 km
XC 60 for 150000.0 with millage 21 760 km
XC 60 for 149900.0 with millage 18 km
XC 60 for 40000.0 with millage 322 000 km
XC 60 for 54600.0 with millage 188 148 km
XC 60 for 58500.0 with millage 197 000 km
XC 60 for 79900.0 with millage 114 000 km
XC 60 for 79900.0 with millage 114 000 km
XC 60 for 61900.0 with millage 157 000 km
XC 60 for 64900.0 with millage 150 000 km
XC 60 for 51900.0 with millage 249 000 km
XC 60 for 59900.0 with millage 157 630 km
XC 60 for 59900.0 with millage 266 000 km
XC 60 for 149900.0 with millage 26 846 km
XC 60 for 149900.0 with millage 35 405 km
XC 60 for 92900.0 with millage 110 660 km
XC 60 for 44500.0 with millage 199 900 km
XC 60 for 119900.0 with millage 1 km
XC 60 for 60900.0 with millage 142 600 km
XC 60 for 85900.0 with millage 197 500 km
XC 60 for 61900.0 with millage 122 000 km
XC 60 for 59900.0 with millage 215 000 km
XC 60 for 69900.0 with millage 54 890 km
XC 60 for 119900.0 with millage 27 600 km
XC 60 for 96900.0 with millage 136 000 km
XC 60 for 57500.0 with millage 202 000 km
XC 60 for 69900.0 with millage 116 000 km
XC 60 for 69900.0 with millage 116 000 km
XC 60 for 92000.0 with millage 147 814 km
XC 60 for 84900.0 with millage 150 000 km
XC 60 for 127000.0 with millage 8 000 km
XC 60 for 226330.0 with millage 1 km
XC 60 for 62900.0 with millage 170 000 km
XC 60 for 52990.0 with millage 204 000 km
XC 60 for 220420.0 with millage 1 km
XC 60 for 66900.0 with millage 137 000 km
XC 60 for 44900.0 with millage 239 000 km
XC 60 for 66600.0 with millage 175 000 km
XC 60 for 57000.0 with millage 182 000 km
XC 60 for 64900.0 with millage 167 000 km
XC 60 for 199100.0 with millage 1 km
XC 60 for 71463.0 with millage 102 000 km
XC 60 for 78999.0 with millage 221 000 km
XC 60 for 222900.0 with millage 1 km
XC 60 for 126900.0 with millage 32 843 km
XC 60 for 167000.0 with millage 1 km
XC 60 for 89900.0 with millage 138 800 km
XC 60 for 139890.0 with millage 10 km
XC 60 for 139890.0 with millage 10 km
XC 60 for 62900.0 with millage 174 070 km
XC 60 for 154900.0 with millage 29 900 km
XC 60 for 149900.0 with millage 17 728 km
XC 60 for 74900.0 with millage 109 200 km
XC 60 for 74444.0 with millage 111 111 km
XC 60 for 67900.0 with millage 122 840 km
XC 60 for 43800.0 with millage 235 000 km
XC 60 for 173900.0 with millage 31 km
XC 60 for 59500.0 with millage 156 465 km
XC 60 for 124700.0 with millage 125 000 km
XC 60 for 129700.0 with millage 86 000 km
XC 60 for 65900.0 with millage 123 700 km
XC 60 for 99900.0 with millage 109 000 km
XC 60 for 54900.0 with millage 143 000 km
XC 60 for 60000.0 with millage 159 000 km
XC 60 for 276000.0 with millage 11 km
XC 60 for 104900.0 with millage 121 035 km
XC 60 for 63000.0 with millage 190 000 km

In [97]:
DF.printSchema()

root
 |-- id: long (nullable = true)
 |-- url: string (nullable = true)
 |-- Faktura VAT: string (nullable = true)
 |-- Marka pojazdu: string (nullable = true)
 |-- Model pojazdu: string (nullable = true)
 |-- Kategoria: string (nullable = true)
 |-- Pojemność skokowa: string (nullable = true)
 |-- Liczba miejsc: integer (nullable = true)
 |-- Zarejestrowany w Polsce: string (nullable = true)
 |-- Wersja: string (nullable = true)
 |-- Typ: string (nullable = true)
 |-- Rok produkcji: integer (nullable = true)
 |-- Serwisowany w ASO: string (nullable = true)
 |-- Leasing: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- Homologacja ciężarowa: string (nullable = true)
 |-- VAT marża: string (nullable = true)
 |-- Pierwszy właściciel: string (nullable = true)
 |-- Filtr cząstek stałych: string (nullable = true)
 |-- Rodzaj paliwa: string (nullable = true)
 |-- Emisja CO2: string (nullable = true)
 |-- Kraj pochodzenia: string (nullable = true)
 |-- Numer rejestracyjny pojazdu: string (nullable = true)
 |-- Bezwypadkowy: string (nullable = true)
 |-- Stan: string (nullable = true)
 |-- Pierwsza rejestracja: string (nullable = true)
 |-- title: string (nullable = true)
 |-- price: double (nullable = true)
 |-- Skrzynia biegów: string (nullable = true)
 |-- Perłowy: string (nullable = true)
 |-- Kierownica po prawej (Anglik): string (nullable = true)
 |-- Liczba drzwi: integer (nullable = true)
 |-- Metalik: string (nullable = true)
 |-- Przebieg: string (nullable = true)
 |-- Akryl (niemetalizowany): string (nullable = true)
 |-- Możliwość finansowania: string (nullable = true)
 |-- Uszkodzony: string (nullable = true)
 |-- Oferta od: string (nullable = true)
 |-- Kod Silnika: string (nullable = true)
 |-- Kolor: string (nullable = true)
 |-- Napęd: string (nullable = true)
 |-- Moc: string (nullable = true)

### Queries as DataFrame operations

In [98]:
DF.select("Marka pojazdu").groupBy("Marka pojazdu").count().show()

+-------------+-----+
|Marka pojazdu|count|
+-------------+-----+
|   Volkswagen| 5598|
|   Oldsmobile|    1|
|     Infiniti|   91|
|      Peugeot| 1906|
|          NSU|    1|
|        Lexus|  252|
|       Jaguar|  215|
|       Saturn|    1|
|          Żuk|    1|
|     Maserati|   43|
|        Rover|   32|
|        Aixam|   37|
|         Tata|    2|
|         Jeep|  426|
|       Lancia|   64|
|   Mitsubishi|  533|
|         Mini|  495|
|          Kia| 1061|
|         null|  470|
|    Chevrolet|  352|
+-------------+-----+
only showing top 20 rows

In [99]:
DF.select(DF["Model pojazdu"]) \
    .filter(DF["Marka pojazdu"]=="Volvo") \
    .groupBy("Model pojazdu") \
    .count().show()

+-------------+-----+
|Model pojazdu|count|
+-------------+-----+
|          S60|  130|
|          V90|   31|
|          850|    4|
|    Seria 400|    1|
|          S80|   59|
|          V60|  112|
|          745|    1|
|          S90|   48|
|          C30|   45|
|          V70|   74|
|        XC 40|   10|
|          V50|  147|
|          S40|   73|
|        XC 70|   37|
|    Seria 700|    1|
|        XC 60|  219|
|         Inny|    1|
|          C70|   10|
|    Seria 200|    1|
|          V40|  151|
+-------------+-----+
only showing top 20 rows