In [35]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("Spark master") \
    .getOrCreate()
sc = spark.sparkContext

In [36]:
from pyspark.sql import functions as F

In [45]:
df_by_age = spark.read.parquet("employees-by-age.parquet")

In [46]:
df_by_age.show()

+-------------+----+
|wynagrodzenie|wiek|
+-------------+----+
|        13300|  65|
|        12700|  65|
|        13500|  65|
|        13400|  65|
|        13100|  65|
|        13000|  65|
|        13200|  65|
|        13000|  65|
|        13000|  65|
|        12600|  65|
|        13500|  65|
|        12800|  65|
|        13400|  65|
|        13400|  65|
|        13200|  65|
|        12600|  65|
|        13200|  65|
|        13100|  65|
|        13000|  65|
|        12600|  65|
+-------------+----+
only showing top 20 rows

In [47]:
df_by_age.repartition(1)\
    .write\
    .partitionBy('wiek')\
    .format('json')\
    .save('employee-by-age.json')

In [48]:
df_by_age.repartition(30)\
    .write\
    .partitionBy('wynagrodzenie')\
    .format('json')\
    .save('employee-by-sallary.json')

In [49]:
df = spark.read.json("employee-by-age.json/")

In [50]:
%%time
df.groupby('wiek').count().show()

+----+-----+
|wiek|count|
+----+-----+
|  31|   39|
|  65|   66|
|  53|   41|
|  34|   38|
|  28|   42|
|  27|   55|
|  26|   46|
|  44|   60|
|  47|   51|
|  52|   53|
|  40|   59|
|  57|   56|
|  54|   56|
|  48|   49|
|  64|   50|
|  41|   54|
|  43|   61|
|  37|   62|
|  61|   45|
|  35|   46|
+----+-----+
only showing top 20 rows

CPU times: user 2.52 ms, sys: 1.84 ms, total: 4.36 ms
Wall time: 1.49 s

In [51]:
df = spark.read.json("employee-by-sallary.json/")

In [52]:
%%time
df.groupby('wiek').count().show()

+----+-----+
|wiek|count|
+----+-----+
|  29|   38|
|  26|   46|
|  65|   66|
|  54|   56|
|  34|   38|
|  50|   52|
|  57|   56|
|  43|   61|
|  32|   48|
|  31|   39|
|  39|   43|
|  25|   47|
|  58|   40|
|  63|   53|
|  27|   55|
|  51|   56|
|  56|   42|
|  52|   53|
|  41|   54|
|  33|   52|
+----+-----+
only showing top 20 rows

CPU times: user 5.56 ms, sys: 1.02 ms, total: 6.58 ms
Wall time: 11.9 s

In [53]:
sc.stop()